body {
  background: url(../img/blurredbgrnd.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  background: none;
  color: #ffffff;
  padding-top: 10em;
}

h1 {
    text-align: center;
    margin: 0;
	   line-height: 140%;
     margin: 30px auto;
}

#intro {
	padding-top: 1em;
	padding-bottom: 2em;
	text-align: center;
}

.row {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}
